@import 'variables';
.test {
  font-size: 12px;
  background-color: red;
}
.row{
  display: flex;
}
.courses-element{
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}
.card{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.card-footer{
  margin-top: auto;
}
