<div class="mt-4 courses">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4 courses-element">
            <div class="card">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.img}}" class="card-img-top" alt="{{this.name}}">
                </a>
                <div class="card-body">
                    <a href="/courses/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>

                </div>
                <footer class="card-footer">
                    <a href="#" class="btn btn-primary">Mua Khoá Học</a>
                </footer>
            </div>
        </div>
        {{/each}}
    </div>
</div>