<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button type="button" class="btn btn-secondary">Học Ngay</button>
        </div>
        <div class="col-lg-9">
            <h2>{{courses.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{courses.videoId}}" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <p>{{courses.description}}</p>
        </div>
    </div>
</div>